<link rel="stylesheet" href="~/css/profile/message/message.css" />

@{
    ViewData["Title"] = "Themes";
}

<div class="main">
    <div class="block">
        <div class="container">
            <div class="my-container">
                <form action="#" method="post">
                    <label style="color: white; text-align: center; font-size: 25px; padding-bottom: 10px;">Создание темы</label>
                    <div class="form-group">
                        <input type="text" class="form-control input-w" name="theme_messeges" placeholder="Тема" style="width: 100%" alt="Название темы не больше 100, не меньше 10">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control textarea-w" name="messages" rows="3" cols="30" placeholder="Текст"></textarea>
                    </div>
                    <button type="submit" name="submit" class="btn btn-secondary">Создать</button>
                </form>
            </div>
        </div>
    </div>
</div>
