@{
    ViewData["Title"] = "Главная";
}
<link rel="stylesheet" href="~/css/auth/main.css" />
<link rel="stylesheet" type="text/css" href="~/css/auth/util.css">
<button type="button" class="nav-toggle"><i class="bx bx-menu"></i></button>
<nav class="nav-menu">
    <ul>
        <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="drop-down">
            <a href="">Меню</a>
            <ul>
                <li><a asp-area="" asp-controller="Auth" asp-action="Auth">Авторизация</a></li>
                <li class="drop-down">
                    <a href="#">Форум</a>
                    <ul>
                        <li><a asp-area="" asp-controller="Themes" asp-action="Themes">Форумы</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav><!-- .nav-menu -->
<main id="main">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title">
                    @* image надо подобрать *@
                    <span class="login100-form-title-1">
                        Регистрация
                    </span>
                </div>

                <form asp-action="RegistrationGood" class="login100-form validate-form">
                    <div class="wrap-input100 validate-input m-b-26" data-validate="login is required">
                        <span class="label-input100">Логин</span>
                        <input class="input100" type="text" name="login" placeholder="Введите логин" maxlength="10" pattern="[A-Za-z-0-9]{3,10}" title="Не менее 3 и неболее 10 латинских символов или цифр. ">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100">Пароль</span>
                        <input class="input100" type="password" name="password" placeholder="Введите пароль" maxlength="15" pattern="[A-Za-z-0-9]{5,15}" title="Не менее 5 и неболее 15 латинских символов или цифр.">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Re_Password is required">
                        <span class="label-input100">Повторите пароль</span>
                        <input class="input100" type="password" name="re_password" placeholder="Повторите пароль" maxlength="15" pattern="[A-Za-z-0-9]{5,15}">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="E-mail is required">
                        <span class="label-input100">E-mail</span>
                        <input class="input100" type="email" name="email" placeholder="E-mail" title="Введите вашу почту">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="E-mail is required">
                        <span class="label-input100">Повторите пароль</span>
                        <input class="input100" type="text" name="name" placeholder="Никнейм" minlength="4" maxlength="15" pattern="[A-Za-z-0-9]{4,15}" title="Не менее 4 и неболее 15 латинских символов или цифр.">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="E-mail is required">
                        <span class="label-input100">Повторите пароль</span>
                        <input class="input100" type="text" name="city" placeholder="Город" title="Укажите ваш город">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-30">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Условия  &amp; Конфигурации
                            </label>
                        </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Регистрация
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
